<div class="department-name">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-10">
            <div class="dept-expandout">
                <div class="dept-title">@(ViewBag.Title == null ? "JCAS" : ViewBag.Title)</div>
            </div>
        </div>
        <div class="hidden-xs hidden-sm col-md-2">
            <div class="mini-seal">
                <p>
                    <img width="73" height="73" alt="Fairfax County, Virginia" src="https://www.fairfaxcounty.gov/resources/public/wcm17/images/seal_small.png" />
                </p>
            </div>
        </div>
    </div>
</div>